{% extends 'base.html' %}

{% block title %}
    Add a FlashArray
{% endblock title %}

<!-- Main content -->
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Add a FlashArray</div>
    <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
        {% for field in form %}
        <p class="bg-warning">{{ field.errors }}</p>
        <div class="fieldWrapper">
            <h6 data-toggle="tooltip" title="{{field.help_text}}">{{ field.label_tag }} {{ field }}</h6>
        </div>
        <hr>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a href="{{base_url}}/" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}
